body {
background: black;
color: white;
font-size: 4.3rem;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

span{
    margin: 0px 2px;
}

button{
    font-family: monospace;
    height: 4rem;
    font-size: 1.7rem;
    border: 3px solid rgb(28, 182, 28);
    border-radius: 30%;
    color: rgb(0, 255, 64);
    background: black;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-weight: 200;
    padding: 20px 20px 55px 20px;
    margin-right: 35px;
}

.espaciador {
    color: rgb(0, 255, 64);    
}

i{
    color: rgb(0, 255, 64);
}

button:hover{
    box-shadow: 0 2px 25px 0 rgb(27, 170, 63) inset, 0 3px 50px 0 rgb(39, 202, 80),
                0 2px 25px 0 rgb(4, 48, 15) inset, 0 3px 50px 0 rgb(70, 94, 5);
    text-shadow: 0 0 3px rgb(0, 255, 64);
}